/* Updated Style with Visual Studio Environment Colors */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F7F3F2; /* Updated from #002b36 to "Plain Text" Background */
  color: #000000; /* Updated from #839496 to "Plain Text" Foreground */
}

.hljs-comment,
.hljs-quote {
  color: #008000; /* Updated from #586e75 to "Comment" */
}

/* Updated to "Keyword" */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #8F0000; /* Updated from #859900 */
}

/* Updated to "String" */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #1515A3; /* Updated from #2aa198 */
}

/* Updated to "User Types" */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #AF912B; /* Updated from #268bd2 */
}

/* Updated to "HTML Attribute" */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #25409D; /* Updated from #b58900 */
}

/* Updated to "CSS Selector" */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #000080; /* Updated from #cb4b16 */
}

/* Updated to "Preprocessor Keyword" */
.hljs-built_in,
.hljs-deletion {
  color: #FF0000; /* Updated from #dc322f */
}

.hljs-formula {
  background: #E0CCD9; /* Updated from #073642 to "Brace Matching (Rectangle)" Background */
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
